@font-face {
  font-family: "arial-regular";
  src: url("../fonts/arial-regular.ttf") format("truetype");
}

@font-face {
  font-family: "georgia-regular";
  src: url("../fonts/georgia-regular.ttf") format("truetype");
}